*

!_classic_/
!_retail_/


_classic_/*
_retail_/*

!_classic_/Cache
!_retail_/Cache

_classic_/Cache/Avatar
_retail_/Cache/Avatar

_classic_/Cache/Avatar/*
_retail_/Cache/Avatar/*

!_classic_/Cache/ADB
!_classic_/Cache/WDB
!_retail_/Cache/ADB
!_retail_/Cache/WDB

!_classic_/Cache/ADB/*
!_classic_/Cache/WDB/*
!_retail_/Cache/ADB/*
!_retail_/Cache/WDB/*

!_classic_/Cache/ADB/**/*.bin
!_classic_/Cache/WDB/**/*.wdb
!_retail_/Cache/ADB/**/*.bin
!_retail_/Cache/WDB/**/*.wdb

!.gitignore
!Upload.ps1
!.Download.sh
